{% extends 'admin/base_index.html.twig' %}
{% block  stylesheets %}
    {{ parent() }}
{% endblock %}

{% block rows_table %}
    <table class="table align-middle table-nowrap table-check">
        <thead class="table-light">
        <tr>
            <th class="align-middle"> {{ 'ID'|trans }}</th>
            <th class="align-middle"> {{ 'Title'|trans }}</th>
            <th class="align-middle">{{ 'Img'|trans }}</th>
            <th class="align-middle">{{ 'Category'|trans }}</th>
            <th class="align-middle">{{ 'Action'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for collection in rows %}
            <tr class="odd">
                <td>{{ collection.id }}</td>
                <td>{{ collection.title }}</td>
                <td>
                    <img src="{{ collection.img|app_img }}" class="img-thumbnail"
                         width="200px">
                </td>

                <td>
                    <a href="{{ path('admin_catalog_category') }}">{{ collection.category.title }}</a>
                </td>
                <td>

                    <a href="{{ path('admin_catalog_collection_item', {'id': collection.id}) }}"
                       type="button" class="btn btn-primary btn-sm btn-rounded">
                        {{ 'Edit'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}